/build/bitbake-cookerdaemon.log
/build/cache
!/build/conf
/build/conf/sanity_info
/build/downloads
/build/sstate-cache
/build/tmp/abi_version
/build/tmp/buildstats
/build/tmp/cache
/build/tmp/deploy/*
!/build/tmp/deploy/images
!/build/tmp/deploy/sdk
/build/tmp/hosttools
/build/tmp/log
/build/tmp/pkgdata
/build/tmp/saved_tmpdir
/build/tmp/sstate-control
/build/tmp/stamps
/build/tmp/sysroots
/build/tmp/sysroots-components
/build/tmp/sysroots-uninative
/build/tmp/work
/build/tmp/work-shared
*.testdata.json
